<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>ClaudeCodeTriggersInstalled</key>
	<true/>
	<key>CodeReviewSavedPrompts</key>
	<data>
	W3sibmFtZSI6IkRlZmF1bHQiLCJ1dWlkIjoiRUZGRjcxNjEtQ0VEOS00NzlGLUE4MTYt
	NDIzQUQ1QkVFNTlDIiwidGV4dCI6IlJldmlldyB0aGUgcGVuZGluZyBjaGFuZ2VzIGlu
	IHRoaXMgcmVwby4gRmxhZyBpc3N1ZXMgYSBjYXJlZnVsIG1haW50YWluZXIgd291bGQg
	YmxvY2sgb24gYmVmb3JlIG1lcmdlLCBpbiByb3VnaGx5IHRoaXMgb3JkZXI6XG4gIDEu
	IENvcnJlY3RuZXNzIOKAlCBsb2dpYyBlcnJvcnMsIGJyb2tlbiBpbnZhcmlhbnRzLCBt
	aXNzZWQgZWRnZSBjYXNlcywgb2ZmLWJ5LW9uZSwgcmFjZXMsIGxpZmV0aW1lXC9tZW1v
	cnkgYnVncywgZXJyb3IgcGF0aHMgdGhhdCBzd2FsbG93IGZhaWx1cmVzLlxuICAyLiBT
	ZWN1cml0eSDigJQgaW5qZWN0aW9uLCBhdXRoblwvYXV0aHogbWlzdGFrZXMsIHNlY3Jl
	dCBoYW5kbGluZywgdW5zYWZlIGRlc2VyaWFsaXphdGlvbiwgdW5zYWZlIGRlZmF1bHRz
	LCBUT0NUT1UuXG4gIDMuIFJlbGlhYmlsaXR5ICYgcGVyZm9ybWFuY2Ug4oCUIGJsb2Nr
	aW5nIHRoZSB3cm9uZyB0aHJlYWQsIHVuYm91bmRlZCByZXNvdXJjZSB1c2UsIGFjY2lk
	ZW50YWwgTyhOwrIpLCByZXRyaWVzIHdpdGhvdXQgYmFja29mZiwgc2lsZW50IGZhaWx1
	cmUgcGF0aHMuXG4gIDQuIENvbnRyYWN0IHJpc2sg4oCUIGJlaGF2aW9yIGNoYW5nZXMg
	Y2FsbGVycyByZWx5IG9uLCBzaWxlbnRseSBjaGFuZ2VkIGRlZmF1bHRzLCBicm9rZW4g
	YmFja3dhcmQgY29tcGF0aWJpbGl0eSwgbWlzc2luZyBtaWdyYXRpb25zLlxuXG5Gb3Ig
	ZWFjaCBmaW5kaW5nIGNpdGUgYGZpbGU6bGluZWAsIGV4cGxhaW4gKndoeSogaXQgaXMg
	d3JvbmcgKG5vdCB3aGF0IHRoZSBjb2RlIGRvZXMpLCBhbmQgcHJvcG9zZSBhIGNvbmNy
	ZXRlIGZpeCB3aGVuIG9uZSBpcyBvYnZpb3VzLiBCZSBjYWxpYnJhdGVkOiBpZiBhIGZp
	bmRpbmcgaXMgbm90IGhpZ2gtY29uZmlkZW5jZSwgc2F5IHNvIG9yIHNraXAgaXQuIFZl
	cmlmeSBjbGFpbXMgYWdhaW5zdCB0aGUgYWN0dWFsIGNvZGUgcmF0aGVyIHRoYW4gaW5m
	ZXJyaW5nIGZyb20gbmFtZXMuXG5cblNraXAgcHVyZSBzdHlsZSwgZm9ybWF0dGluZywg
	bmFtaW5nLCBhbmQgYW55dGhpbmcgYSBsaW50ZXIgb3IgQ0kgYWxyZWFkeSBlbmZvcmNl
	cy5cblxuSWYgeW91IGZpbmQgbm90aGluZyB3b3J0aCBmaXhpbmcsIHNheSBzbyBwbGFp
	bmx5LiJ9XQ==
	</data>
	<key>Custom Color Presets</key>
	<dict>
		<key>monokai</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.10051459074020386</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.10051288455724716</real>
				<key>Red Component</key>
				<real>0.10051589459180832</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.9568350315093994</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.14004382491111755</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8792104721069336</real>
				<key>Red Component</key>
				<real>0.5947334170341492</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3815441131591797</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8363599181175232</real>
				<key>Red Component</key>
				<real>0.8774813413619995</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9987757205963135</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.39599207043647766</real>
				<key>Red Component</key>
				<real>0.6146889925003052</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.9568350315093994</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9206036329269409</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8197720646858215</real>
				<key>Red Component</key>
				<real>0.3441696763038635</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9359474778175354</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.9654953479766846</real>
				<key>Red Component</key>
				<real>0.9653725624084473</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.14004382491111755</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8792104721069336</real>
				<key>Red Component</key>
				<real>0.5947334170341492</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.12156862765550613</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.5921568870544434</real>
				<key>Red Component</key>
				<real>0.9921568632125854</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9987757205963135</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.39599207043647766</real>
				<key>Red Component</key>
				<real>0.6146889925003052</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.9568350315093994</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9206036329269409</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8197720646858215</real>
				<key>Red Component</key>
				<real>0.3441696763038635</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7099304795265198</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.7714409232139587</real>
				<key>Red Component</key>
				<real>0.7696096301078796</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.2965214252471924</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.36959609389305115</real>
				<key>Red Component</key>
				<real>0.3829454779624939</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.9568350315093994</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.04669748619198799</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.04669669643044472</real>
				<key>Red Component</key>
				<real>0.04669809341430664</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.921489953994751</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.9214743375778198</real>
				<key>Red Component</key>
				<real>0.921501874923706</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.12078898400068283</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.593540370464325</real>
				<key>Red Component</key>
				<real>0.9901629090309143</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.9100000262260437</real>
				<key>Red Component</key>
				<real>0.6499999761581421</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.8493815660476685</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8493671417236328</real>
				<key>Red Component</key>
				<real>0.8493925929069519</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.6779999732971191</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.27000001072883606</real>
				<key>Red Component</key>
				<real>0.023000000044703484</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9999912977218628</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.9999743700027466</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.20521116256713867</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.2052076756954193</real>
				<key>Red Component</key>
				<real>0.20521381497383118</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>523CDC4A-9315-4F18-A54B-CAE1DAC90FC7</string>
	<key>EnableAPIServer</key>
	<true/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>Hotkey</key>
	<false/>
	<key>HotkeyChar</key>
	<integer>0</integer>
	<key>HotkeyCode</key>
	<integer>0</integer>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>HotkeyModifiers</key>
	<integer>0</integer>
	<key>LeftOption</key>
	<integer>2</integer>
	<key>NSAutoFillHeuristicControllerEnabled</key>
	<false/>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>NeverWarnAboutShortLivedSessions_523CDC4A-9315-4F18-A54B-CAE1DAC90FC7</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_523CDC4A-9315-4F18-A54B-CAE1DAC90FC7_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.10051459074020386</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.10051288455724716</real>
				<key>Red Component</key>
				<real>0.10051589459180832</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.9568350315093994</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.14004382491111755</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8792104721069336</real>
				<key>Red Component</key>
				<real>0.5947334170341492</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3815441131591797</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8363599181175232</real>
				<key>Red Component</key>
				<real>0.8774813413619995</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9987757205963135</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.39599207043647766</real>
				<key>Red Component</key>
				<real>0.6146889925003052</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.9568350315093994</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9206036329269409</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8197720646858215</real>
				<key>Red Component</key>
				<real>0.3441696763038635</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9359474778175354</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.9654953479766846</real>
				<key>Red Component</key>
				<real>0.9653725624084473</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.14004382491111755</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8792104721069336</real>
				<key>Red Component</key>
				<real>0.5947334170341492</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.12156862765550613</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.5921568870544434</real>
				<key>Red Component</key>
				<real>0.9921568632125854</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9987757205963135</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.39599207043647766</real>
				<key>Red Component</key>
				<real>0.6146889925003052</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.9568350315093994</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9206036329269409</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8197720646858215</real>
				<key>Red Component</key>
				<real>0.3441696763038635</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7099304795265198</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.7714409232139587</real>
				<key>Red Component</key>
				<real>0.7696096301078796</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.2965214252471924</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.36959609389305115</real>
				<key>Red Component</key>
				<real>0.3829454779624939</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.9568350315093994</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.04669748619198799</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.04669669643044472</real>
				<key>Red Component</key>
				<real>0.04669809341430664</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Blur Radius</key>
			<real>9.056333111702129</real>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.921489953994751</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.9214743375778198</real>
				<key>Red Component</key>
				<real>0.921501874923706</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.12078898400068283</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.593540370464325</real>
				<key>Red Component</key>
				<real>0.9901629090309143</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.9100000262260437</real>
				<key>Red Component</key>
				<real>0.6499999761581421</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.8493815660476685</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.8493671417236328</real>
				<key>Red Component</key>
				<real>0.8493925929069519</real>
			</dict>
			<key>Guid</key>
			<string>523CDC4A-9315-4F18-A54B-CAE1DAC90FC7</string>
			<key>Horizontal Spacing</key>
			<real>1.0</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.6779999732971191</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.27000001072883606</real>
				<key>Red Component</key>
				<real>0.023000000044703484</real>
			</dict>
			<key>Mouse Reporting</key>
			<false/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>MononokiNF-Regular 22</string>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9999912977218628</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.9999743700027466</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.20521116256713867</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.2052076756954193</real>
				<key>Red Component</key>
				<real>0.20521381497383118</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.15052360372340426</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>iTermEnterWorkgroupTrigger</string>
					<key>contentregex</key>
					<string></string>
					<key>disabled</key>
					<false/>
					<key>eventParams</key>
					<dict>
						<key>jobName</key>
						<string>claude</string>
					</dict>
					<key>matchType</key>
					<integer>113</integer>
					<key>parameter</key>
					<string>builtin.claudeCode</string>
					<key>partial</key>
					<false/>
					<key>regex</key>
					<string></string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermExitWorkgroupTrigger</string>
					<key>contentregex</key>
					<string></string>
					<key>disabled</key>
					<false/>
					<key>eventParams</key>
					<dict>
						<key>jobName</key>
						<string>claude</string>
						<key>leaderOnly</key>
						<true/>
					</dict>
					<key>matchType</key>
					<integer>114</integer>
					<key>parameter</key>
					<string></string>
					<key>partial</key>
					<false/>
					<key>regex</key>
					<string></string>
				</dict>
			</array>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.0</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/ikapo</string>
		</dict>
	</array>
	<key>NoSyncClaudeCodeAutoRequestReviewBackfilled</key>
	<true/>
	<key>NoSyncClaudeCodeAutoSendClippingsBackfilled</key>
	<true/>
	<key>NoSyncClaudeCodeDiffModeBackfilled</key>
	<true/>
	<key>NoSyncClaudeCodeHooksInstalled</key>
	<false/>
	<key>NoSyncClaudeCodeIntegrationCompleted</key>
	<true/>
	<key>NoSyncClaudeCodeReviewSystemPromptCommandBackfilled</key>
	<true/>
	<key>NoSyncHaveUsedCopyMode</key>
	<true/>
	<key>NoSyncIgnoreSystemWindowRestoration</key>
	<true/>
	<key>NoSyncKeyCode0MitigationDisabled_523CDC4A-9315-4F18-A54B-CAE1DAC90FC7</key>
	<true/>
	<key>NoSyncLastSystemPythonVersionRequirement</key>
	<string>1.17</string>
	<key>NoSyncMigratedDynamicProfileTagToFlag</key>
	<true/>
	<key>NoSyncNeverRemindPrefsChangesLostForFile</key>
	<true/>
	<key>NoSyncNeverRemindPrefsChangesLostForFile_selection</key>
	<integer>0</integer>
	<key>NoSyncRemoveDeprecatedKeyMappings</key>
	<integer>2</integer>
	<key>NoSyncSuppressDownloadConfirmation</key>
	<true/>
	<key>NoSyncSuppressDownloadConfirmation_selection</key>
	<integer>0</integer>
	<key>NoSyncWorkgroupShortcutsBackfilled</key>
	<true/>
	<key>OnlyWhenMoreTabs</key>
	<true/>
	<key>OpenFileInNewWindows</key>
	<false/>
	<key>PasteTabToStringTabStopSize</key>
	<integer>4</integer>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedAlternateAppNameKey</key>
	<string>iTerm</string>
	<key>SUFeedURL</key>
	<string>https://iterm2.com/appcasts/final_modern.xml?shard=11</string>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>StatusBarPosition</key>
	<integer>0</integer>
	<key>SwitchPaneModifier</key>
	<integer>9</integer>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>ToolbeltTools</key>
	<array>
		<string>Profiles</string>
		<string>Session Status</string>
	</array>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>Workgroups</key>
	<data>
	W3sibmFtZSI6IkNsYXVkZSBDb2RlIiwic2Vzc2lvbnMiOlt7InBlckZpbGVDb21tYW5k
	IjoiIiwiY29tbWFuZCI6IiIsInRvb2xiYXJJdGVtcyI6W3sia2luZCI6Im1vZGVTd2l0
	Y2hlciJ9LHsia2luZCI6ImdpdFN0YXR1cyJ9LHsia2luZCI6ImF1dG9SZXF1ZXN0UmV2
	aWV3V2hlbklkbGUifV0sInVybFN0cmluZyI6IiIsInVuaXF1ZUlkZW50aWZpZXIiOiJi
	dWlsdGluLmNsYXVkZUNvZGUubWFpbiIsImRpc3BsYXlOYW1lIjoiQ2hhdCIsImtpbmQi
	Onsia2luZCI6InJvb3QifSwibW9kZSI6InJlZ3VsYXIifSx7InBlckZpbGVDb21tYW5k
	IjoiZ2l0IGRpZmZ0b29sIC15IC14IHZpbWRpZmYgXFwoZ2l0QmFzZSkgLS0gXFwoZmls
	ZSkiLCJjb21tYW5kIjoiZ2l0IGRpZmZ0b29sIC15IC14IHZpbWRpZmYgXFwoZ2l0QmFz
	ZSkiLCJwYXJlbnRJRCI6ImJ1aWx0aW4uY2xhdWRlQ29kZS5tYWluIiwidG9vbGJhckl0
	ZW1zIjpbeyJraW5kIjoibW9kZVN3aXRjaGVyIn0seyJraW5kIjoiY2hhbmdlZEZpbGVT
	ZWxlY3RvciJ9LHsia2luZCI6ImdpdEJhc2VTZWxlY3RvciJ9LHsiZm9yd2FyZFNob3J0
	Y3V0Ijp7InNlcmlhbGl6ZWQiOiIweGY3MDMtMHgzNDAwMDAtMHg3YyJ9LCJraW5kIjoi
	bmF2aWdhdGlvbiIsImJhY2tTaG9ydGN1dCI6eyJzZXJpYWxpemVkIjoiMHhmNzAyLTB4
	MzQwMDAwLTB4N2IifSwicmVsb2FkU2hvcnRjdXQiOnsic2VyaWFsaXplZCI6IjB4NzIt
	MHgxMDAwMDAtMHhmIn19XSwidXJsU3RyaW5nIjoiIiwidW5pcXVlSWRlbnRpZmllciI6
	ImJ1aWx0aW4uY2xhdWRlQ29kZS5kaWZmIiwiZGlzcGxheU5hbWUiOiJEaWZmIiwia2lu
	ZCI6eyJraW5kIjoicGVlciJ9LCJtb2RlIjoiZGlmZiJ9LHsicGVyRmlsZUNvbW1hbmQi
	OiIiLCJjb21tYW5kIjoiY2xhdWRlIFxcKGNvZGVSZXZpZXdQcm9tcHQpIC0tYXBwZW5k
	LXN5c3RlbS1wcm9tcHQtZmlsZSAnXFwoY29kZVJldmlld1N5c3RlbVByb21wdEZpbGUp
	JyAtLXNldHRpbmdzICdcXChpdGVybTIuYXBwQnVuZGxlUGF0aClcL0NvbnRlbnRzXC9S
	ZXNvdXJjZXNcL2NvZGUtcmV2aWV3LXNldHRpbmdzLnR4dCciLCJwYXJlbnRJRCI6ImJ1
	aWx0aW4uY2xhdWRlQ29kZS5tYWluIiwidG9vbGJhckl0ZW1zIjpbeyJraW5kIjoibW9k
	ZVN3aXRjaGVyIn0seyJraW5kIjoicmVsb2FkIiwic2hvcnRjdXQiOnsic2VyaWFsaXpl
	ZCI6IjB4NzItMHgxMDAwMDAtMHhmIn19LHsia2luZCI6ImF1dG9TZW5kQ2xpcHBpbmdz
	V2hlbklkbGUifV0sInVybFN0cmluZyI6IiIsInVuaXF1ZUlkZW50aWZpZXIiOiJidWls
	dGluLmNsYXVkZUNvZGUucmV2aWV3IiwiZGlzcGxheU5hbWUiOiJDb2RlIFJldmlldyIs
	ImtpbmQiOnsia2luZCI6InBlZXIifSwibW9kZSI6ImNvZGVSZXZpZXcifV0sInVuaXF1
	ZUlkZW50aWZpZXIiOiJidWlsdGluLmNsYXVkZUNvZGUifV0=
	</data>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>iTerm Version</key>
	<string>3.7.3</string>
</dict>
</plist>
